Options -Indexes
DirectoryIndex index.html index.php

<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # Redirigir /noticias o /noticias/ a noticias.html para evitar la colisión 403 con la carpeta /noticias/ de artículos
  RewriteCond %{REQUEST_URI} ^/noticias/?$
  RewriteRule ^ noticias.html [L]
</IfModule>

<IfModule mod_headers.c>
  Header set X-Content-Type-Options "nosniff"
  Header set Referrer-Policy "strict-origin-when-cross-origin"
</IfModule>

<IfModule mod_expires.c>
  ExpiresActive On
  ExpiresByType image/webp "access plus 1 year"
  ExpiresByType image/png "access plus 1 year"
  ExpiresByType image/jpeg "access plus 1 year"
  ExpiresByType image/svg+xml "access plus 1 year"
  ExpiresByType font/woff2 "access plus 1 year"
  ExpiresByType text/css "access plus 1 month"
  ExpiresByType application/javascript "access plus 1 month"
</IfModule>


# SEO Redirects 301 para Proyectos 3D
<IfModule mod_rewrite.c>
  Redirect 301 /proyectos/stand_42solutions_desarrollado_en_madrid /proyectos/stand_para_empresa_de_software_de_trafico_aereo_en_madrid
  Redirect 301 /proyectos/stand_42solutions_desarrollado_en_madrid/ /proyectos/stand_para_empresa_de_software_de_trafico_aereo_en_madrid/
  Redirect 301 /proyectos/stand_777_desarrollado_en_madrid /proyectos/stand_para_empresa_de_apuestas_online_en_madrid
  Redirect 301 /proyectos/stand_777_desarrollado_en_madrid/ /proyectos/stand_para_empresa_de_apuestas_online_en_madrid/
  Redirect 301 /proyectos/stand_a_bet_a_desarrollado_en_malaga /proyectos/stand_para_empresa_de_software_de_apuestas_en_malaga
  Redirect 301 /proyectos/stand_a_bet_a_desarrollado_en_malaga/ /proyectos/stand_para_empresa_de_software_de_apuestas_en_malaga/
  Redirect 301 /proyectos/stand_aab_desarrollado_en_bilbao /proyectos/stand_para_empresa_de_auditoria_y_contabilidad_en_bilbao
  Redirect 301 /proyectos/stand_aab_desarrollado_en_bilbao/ /proyectos/stand_para_empresa_de_auditoria_y_contabilidad_en_bilbao/
  Redirect 301 /proyectos/stand_aercaribe_desarrollado_en_bilbao /proyectos/stand_para_aerolinea_de_carga_en_bilbao
  Redirect 301 /proyectos/stand_aercaribe_desarrollado_en_bilbao/ /proyectos/stand_para_aerolinea_de_carga_en_bilbao/
  Redirect 301 /proyectos/stand_afendi_desarrollado_en_bilbao /proyectos/stand_para_empresa_de_shisha_en_bilbao
  Redirect 301 /proyectos/stand_afendi_desarrollado_en_bilbao/ /proyectos/stand_para_empresa_de_shisha_en_bilbao/
  Redirect 301 /proyectos/stand_agena_saglik_desarrollado_en_madrid /proyectos/stand_para_empresa_del_sector_sanitario_en_madrid
  Redirect 301 /proyectos/stand_agena_saglik_desarrollado_en_madrid/ /proyectos/stand_para_empresa_del_sector_sanitario_en_madrid/
  Redirect 301 /proyectos/stand_aiscan_desarrollado_en_madrid /proyectos/stand_para_fabricante_de_sistemas_de_conduccion_electrica_en_madrid
  Redirect 301 /proyectos/stand_aiscan_desarrollado_en_madrid/ /proyectos/stand_para_fabricante_de_sistemas_de_conduccion_electrica_en_madrid/
  Redirect 301 /proyectos/stand_aksun_desarrollado_en_barcelona /proyectos/stand_para_empresa_exportadora_de_frutas_y_verduras_en_barcelona
  Redirect 301 /proyectos/stand_aksun_desarrollado_en_barcelona/ /proyectos/stand_para_empresa_exportadora_de_frutas_y_verduras_en_barcelona/
  Redirect 301 /proyectos/stand_apices_desarrollado_en_madrid /proyectos/stand_para_empresa_cro_europea_en_madrid
  Redirect 301 /proyectos/stand_apices_desarrollado_en_madrid/ /proyectos/stand_para_empresa_cro_europea_en_madrid/
  Redirect 301 /proyectos/stand_apres_desarrollado_en_madrid /proyectos/stand_para_empresa_de_productos_para_unas_en_madrid
  Redirect 301 /proyectos/stand_apres_desarrollado_en_madrid/ /proyectos/stand_para_empresa_de_productos_para_unas_en_madrid/
  Redirect 301 /proyectos/stand_arra_desarrollado_en_madrid /proyectos/stand_para_distribuidor_de_uvas_de_mesa_en_madrid
  Redirect 301 /proyectos/stand_arra_desarrollado_en_madrid/ /proyectos/stand_para_distribuidor_de_uvas_de_mesa_en_madrid/
  Redirect 301 /proyectos/stand_ar_vacuum_desarrollado_en_bilbao /proyectos/stand_para_empresa_de_automatizacion_por_vacio_en_bilbao
  Redirect 301 /proyectos/stand_ar_vacuum_desarrollado_en_bilbao/ /proyectos/stand_para_empresa_de_automatizacion_por_vacio_en_bilbao/
  Redirect 301 /proyectos/stand_asteo_desarrollado_en_madrid /proyectos/stand_para_operador_de_telecomunicaciones_en_madrid
  Redirect 301 /proyectos/stand_asteo_desarrollado_en_madrid/ /proyectos/stand_para_operador_de_telecomunicaciones_en_madrid/
  Redirect 301 /proyectos/stand_avanzasis_desarrollado_en_bilbao /proyectos/stand_para_empresa_de_soluciones_informaticas_en_bilbao
  Redirect 301 /proyectos/stand_avanzasis_desarrollado_en_bilbao/ /proyectos/stand_para_empresa_de_soluciones_informaticas_en_bilbao/
  Redirect 301 /proyectos/stand_ayuntamiento_alcala_desarrollado_en_barcelona /proyectos/stand_para_ayuntamiento_en_barcelona
  Redirect 301 /proyectos/stand_ayuntamiento_alcala_desarrollado_en_barcelona/ /proyectos/stand_para_ayuntamiento_en_barcelona/
  Redirect 301 /proyectos/stand_balliu_desarrollado_en_bilbao /proyectos/stand_para_empresa_de_mobiliario_exterior_en_bilbao
  Redirect 301 /proyectos/stand_balliu_desarrollado_en_bilbao/ /proyectos/stand_para_empresa_de_mobiliario_exterior_en_bilbao/
  Redirect 301 /proyectos/stand_bdb_desarrollado_en_barcelona /proyectos/stand_para_red_de_distribucion_de_materiales_de_construccion_en_barcelona
  Redirect 301 /proyectos/stand_bdb_desarrollado_en_barcelona/ /proyectos/stand_para_red_de_distribucion_de_materiales_de_construccion_en_barcelona/
  Redirect 301 /proyectos/stand_bedfont_desarrollado_en_malaga /proyectos/stand_para_fabricante_de_equipos_de_analisis_medico_en_malaga
  Redirect 301 /proyectos/stand_bedfont_desarrollado_en_malaga/ /proyectos/stand_para_fabricante_de_equipos_de_analisis_medico_en_malaga/
  Redirect 301 /proyectos/stand_bodegas_im_desarrollado_en_madrid /proyectos/stand_para_bodega_de_vinos_en_madrid
  Redirect 301 /proyectos/stand_bodegas_im_desarrollado_en_madrid/ /proyectos/stand_para_bodega_de_vinos_en_madrid/
  Redirect 301 /proyectos/stand_bredent_desarrollado_en_bilbao /proyectos/stand_para_empresa_del_sector_dental_en_bilbao
  Redirect 301 /proyectos/stand_bredent_desarrollado_en_bilbao/ /proyectos/stand_para_empresa_del_sector_dental_en_bilbao/
  Redirect 301 /proyectos/stand_charly_desarrollado_en_barcelona /proyectos/stand_para_empresa_de_ropa_deportiva_en_barcelona
  Redirect 301 /proyectos/stand_charly_desarrollado_en_barcelona/ /proyectos/stand_para_empresa_de_ropa_deportiva_en_barcelona/
  Redirect 301 /proyectos/stand_cirse_desarrollado_en_malaga /proyectos/stand_para_sociedad_medica_europea_en_malaga
  Redirect 301 /proyectos/stand_cirse_desarrollado_en_malaga/ /proyectos/stand_para_sociedad_medica_europea_en_malaga/
  Redirect 301 /proyectos/stand_collvila_desarrollado_en_malaga /proyectos/stand_para_distribuidor_de_materiales_de_construccion_en_malaga
  Redirect 301 /proyectos/stand_collvila_desarrollado_en_malaga/ /proyectos/stand_para_distribuidor_de_materiales_de_construccion_en_malaga/
  Redirect 301 /proyectos/stand_creatives_desarrollado_en_malaga /proyectos/stand_para_empresa_de_diseno_y_marketing_en_malaga
  Redirect 301 /proyectos/stand_creatives_desarrollado_en_malaga/ /proyectos/stand_para_empresa_de_diseno_y_marketing_en_malaga/
  Redirect 301 /proyectos/stand_cucocuca_desarrollado_en_malaga /proyectos/stand_para_empresa_de_bisuteria_en_malaga
  Redirect 301 /proyectos/stand_cucocuca_desarrollado_en_malaga/ /proyectos/stand_para_empresa_de_bisuteria_en_malaga/
  Redirect 301 /proyectos/stand_dar_desarrollado_en_malaga /proyectos/stand_para_empresa_de_soluciones_globales_en_malaga
  Redirect 301 /proyectos/stand_dar_desarrollado_en_malaga/ /proyectos/stand_para_empresa_de_soluciones_globales_en_malaga/
  Redirect 301 /proyectos/stand_dimasimma_desarrollado_en_malaga /proyectos/stand_para_empresa_de_almacenes_automaticos_en_malaga
  Redirect 301 /proyectos/stand_dimasimma_desarrollado_en_malaga/ /proyectos/stand_para_empresa_de_almacenes_automaticos_en_malaga/
  Redirect 301 /proyectos/stand_disgo_desarrollado_en_madrid /proyectos/stand_para_mayorista_de_golosinas_y_juguetes_en_madrid
  Redirect 301 /proyectos/stand_disgo_desarrollado_en_madrid/ /proyectos/stand_para_mayorista_de_golosinas_y_juguetes_en_madrid/
  Redirect 301 /proyectos/stand_dracfort_desarrollado_en_barcelona /proyectos/stand_para_fabricante_de_morteros_en_barcelona
  Redirect 301 /proyectos/stand_dracfort_desarrollado_en_barcelona/ /proyectos/stand_para_fabricante_de_morteros_en_barcelona/
  Redirect 301 /proyectos/stand_drag_desarrollado_en_madrid /proyectos/stand_para_empresa_de_software_de_emergencias_en_madrid
  Redirect 301 /proyectos/stand_drag_desarrollado_en_madrid/ /proyectos/stand_para_empresa_de_software_de_emergencias_en_madrid/
  Redirect 301 /proyectos/stand_ecorobotix_desarrollado_en_barcelona /proyectos/stand_para_empresa_de_tecnologia_agricola_en_barcelona
  Redirect 301 /proyectos/stand_ecorobotix_desarrollado_en_barcelona/ /proyectos/stand_para_empresa_de_tecnologia_agricola_en_barcelona/
  Redirect 301 /proyectos/stand_einsa_desarrollado_en_madrid /proyectos/stand_para_empresa_de_equipos_de_aviacion_en_madrid
  Redirect 301 /proyectos/stand_einsa_desarrollado_en_madrid/ /proyectos/stand_para_empresa_de_equipos_de_aviacion_en_madrid/
  Redirect 301 /proyectos/stand_emerchantpay_desarrollado_en_malaga /proyectos/stand_para_empresa_de_soluciones_de_pago_en_malaga
  Redirect 301 /proyectos/stand_emerchantpay_desarrollado_en_malaga/ /proyectos/stand_para_empresa_de_soluciones_de_pago_en_malaga/
  Redirect 301 /proyectos/stand_esxence_desarrollado_en_malaga /proyectos/stand_para_empresa_de_perfumeria_artistica_en_malaga
  Redirect 301 /proyectos/stand_esxence_desarrollado_en_malaga/ /proyectos/stand_para_empresa_de_perfumeria_artistica_en_malaga/
  Redirect 301 /proyectos/stand_exsto_desarrollado_en_bilbao /proyectos/stand_para_fabricante_de_elastomeros_en_bilbao
  Redirect 301 /proyectos/stand_exsto_desarrollado_en_bilbao/ /proyectos/stand_para_fabricante_de_elastomeros_en_bilbao/
  Redirect 301 /proyectos/stand_fazendas_0_desarrollado_en_madrid /proyectos/stand_para_fabricante_de_equipos_industriales_en_madrid
  Redirect 301 /proyectos/stand_fazendas_0_desarrollado_en_madrid/ /proyectos/stand_para_fabricante_de_equipos_industriales_en_madrid/
  Redirect 301 /proyectos/stand_fienhage_desarrollado_en_madrid /proyectos/stand_para_empresa_de_soluciones_avicolas_en_madrid
  Redirect 301 /proyectos/stand_fienhage_desarrollado_en_madrid/ /proyectos/stand_para_empresa_de_soluciones_avicolas_en_madrid/
  Redirect 301 /proyectos/stand_flexomed_desarrollado_en_bilbao /proyectos/stand_para_empresa_de_packaging_en_bilbao
  Redirect 301 /proyectos/stand_flexomed_desarrollado_en_bilbao/ /proyectos/stand_para_empresa_de_packaging_en_bilbao/
  Redirect 301 /proyectos/stand_fripozo_desarrollado_en_madrid /proyectos/stand_para_empresa_de_alimentos_congelados_en_madrid
  Redirect 301 /proyectos/stand_fripozo_desarrollado_en_madrid/ /proyectos/stand_para_empresa_de_alimentos_congelados_en_madrid/
  Redirect 301 /proyectos/stand_fundae_desarrollado_en_bilbao /proyectos/stand_para_fundacion_de_formacion_en_bilbao
  Redirect 301 /proyectos/stand_fundae_desarrollado_en_bilbao/ /proyectos/stand_para_fundacion_de_formacion_en_bilbao/
  Redirect 301 /proyectos/stand_gabelloto_clayver_mureco_desarrollado_en_madrid /proyectos/stand_para_empresa_vitivinicola_en_madrid
  Redirect 301 /proyectos/stand_gabelloto_clayver_mureco_desarrollado_en_madrid/ /proyectos/stand_para_empresa_vitivinicola_en_madrid/
  Redirect 301 /proyectos/stand_garantia_mutua_desarrollado_en_barcelona /proyectos/stand_para_empresa_de_garantia_mutua_en_barcelona
  Redirect 301 /proyectos/stand_garantia_mutua_desarrollado_en_barcelona/ /proyectos/stand_para_empresa_de_garantia_mutua_en_barcelona/
  Redirect 301 /proyectos/stand_gastro_desarrollado_en_malaga /proyectos/stand_para_empresa_de_diseno_hostelero_en_malaga
  Redirect 301 /proyectos/stand_gastro_desarrollado_en_malaga/ /proyectos/stand_para_empresa_de_diseno_hostelero_en_malaga/
  Redirect 301 /proyectos/stand_gelatidino_desarrollado_en_barcelona /proyectos/stand_para_empresa_de_helados_artesanales_en_barcelona
  Redirect 301 /proyectos/stand_gelatidino_desarrollado_en_barcelona/ /proyectos/stand_para_empresa_de_helados_artesanales_en_barcelona/
  Redirect 301 /proyectos/stand_gisada_desarrollado_en_madrid /proyectos/stand_para_empresa_de_fragancias_en_madrid
  Redirect 301 /proyectos/stand_gisada_desarrollado_en_madrid/ /proyectos/stand_para_empresa_de_fragancias_en_madrid/
  Redirect 301 /proyectos/stand_global_cruise_desarrollado_en_bilbao /proyectos/stand_para_empresa_de_cruceros_en_bilbao
  Redirect 301 /proyectos/stand_global_cruise_desarrollado_en_bilbao/ /proyectos/stand_para_empresa_de_cruceros_en_bilbao/
  Redirect 301 /proyectos/stand_grupo_alava_desarrollado_en_bilbao /proyectos/stand_para_empresa_de_tecnologia_industrial_en_bilbao
  Redirect 301 /proyectos/stand_grupo_alava_desarrollado_en_bilbao/ /proyectos/stand_para_empresa_de_tecnologia_industrial_en_bilbao/
  Redirect 301 /proyectos/stand_hervem_desarrollado_en_barcelona /proyectos/stand_para_empresa_de_excavaciones_en_barcelona
  Redirect 301 /proyectos/stand_hervem_desarrollado_en_barcelona/ /proyectos/stand_para_empresa_de_excavaciones_en_barcelona/
  Redirect 301 /proyectos/stand_hidroconta_desarrollado_en_barcelona /proyectos/stand_para_empresa_de_digitalizacion_del_agua_en_barcelona
  Redirect 301 /proyectos/stand_hidroconta_desarrollado_en_barcelona/ /proyectos/stand_para_empresa_de_digitalizacion_del_agua_en_barcelona/
  Redirect 301 /proyectos/stand_hidroconta_desarrollado_en_barcelona /proyectos/stand_para_empresa_de_digitalizacion_del_agua_en_barcelona
  Redirect 301 /proyectos/stand_hidroconta_desarrollado_en_barcelona/ /proyectos/stand_para_empresa_de_digitalizacion_del_agua_en_barcelona/
  Redirect 301 /proyectos/stand_hjm_elementos_desarrollado_en_malaga /proyectos/stand_para_fabricante_de_sistemas_de_calefaccion_en_malaga
  Redirect 301 /proyectos/stand_hjm_elementos_desarrollado_en_malaga/ /proyectos/stand_para_fabricante_de_sistemas_de_calefaccion_en_malaga/
  Redirect 301 /proyectos/stand_hns_desarrollado_en_bilbao /proyectos/stand_para_empresa_de_soluciones_de_empleo_en_bilbao
  Redirect 301 /proyectos/stand_hns_desarrollado_en_bilbao/ /proyectos/stand_para_empresa_de_soluciones_de_empleo_en_bilbao/
  Redirect 301 /proyectos/stand_innadhex_desarrollado_en_malaga /proyectos/stand_para_empresa_de_materiales_autoadhesivos_en_malaga
  Redirect 301 /proyectos/stand_innadhex_desarrollado_en_malaga/ /proyectos/stand_para_empresa_de_materiales_autoadhesivos_en_malaga/
  Redirect 301 /proyectos/stand_inoi_2_desarrollado_en_madrid /proyectos/stand_para_empresa_tecnologica_en_madrid
  Redirect 301 /proyectos/stand_inoi_2_desarrollado_en_madrid/ /proyectos/stand_para_empresa_tecnologica_en_madrid/
  Redirect 301 /proyectos/stand_intersec_desarrollado_en_bilbao /proyectos/stand_para_empresa_de_tecnologia_y_datos_moviles_en_bilbao
  Redirect 301 /proyectos/stand_intersec_desarrollado_en_bilbao/ /proyectos/stand_para_empresa_de_tecnologia_y_datos_moviles_en_bilbao/
  Redirect 301 /proyectos/stand_jalupro_desarrollado_en_malaga /proyectos/stand_para_empresa_de_estetica_y_dermatologia_en_malaga
  Redirect 301 /proyectos/stand_jalupro_desarrollado_en_malaga/ /proyectos/stand_para_empresa_de_estetica_y_dermatologia_en_malaga/
  Redirect 301 /proyectos/stand_jinko_desarrollado_en_barcelona /proyectos/stand_para_fabricante_de_modulos_solares_en_barcelona
  Redirect 301 /proyectos/stand_jinko_desarrollado_en_barcelona/ /proyectos/stand_para_fabricante_de_modulos_solares_en_barcelona/
  Redirect 301 /proyectos/stand_kelio_desarrollado_en_malaga /proyectos/stand_para_desarrollador_de_software_de_recursos_humanos_en_malaga
  Redirect 301 /proyectos/stand_kelio_desarrollado_en_malaga/ /proyectos/stand_para_desarrollador_de_software_de_recursos_humanos_en_malaga/
  Redirect 301 /proyectos/stand_lofarma_sin_almacen_desarrollado_en_madrid /proyectos/stand_para_empresa_farmaceutica_en_madrid
  Redirect 301 /proyectos/stand_lofarma_sin_almacen_desarrollado_en_madrid/ /proyectos/stand_para_empresa_farmaceutica_en_madrid/
  Redirect 301 /proyectos/stand_lucid_desarrollado_en_bilbao /proyectos/stand_para_consultoria_de_innovacion_y_diseno_en_bilbao
  Redirect 301 /proyectos/stand_lucid_desarrollado_en_bilbao/ /proyectos/stand_para_consultoria_de_innovacion_y_diseno_en_bilbao/
  Redirect 301 /proyectos/stand_magnovent_desarrollado_en_malaga /proyectos/stand_para_empresa_de_soluciones_climaticas_en_malaga
  Redirect 301 /proyectos/stand_magnovent_desarrollado_en_malaga/ /proyectos/stand_para_empresa_de_soluciones_climaticas_en_malaga/
  Redirect 301 /proyectos/stand_marenostrum_desarrollado_en_bilbao /proyectos/stand_para_empresa_de_eventos_y_musica_en_bilbao
  Redirect 301 /proyectos/stand_marenostrum_desarrollado_en_bilbao/ /proyectos/stand_para_empresa_de_eventos_y_musica_en_bilbao/
  Redirect 301 /proyectos/stand_marllor_desarrollado_en_barcelona /proyectos/stand_para_empresa_de_estetica_medica_en_barcelona
  Redirect 301 /proyectos/stand_marllor_desarrollado_en_barcelona/ /proyectos/stand_para_empresa_de_estetica_medica_en_barcelona/
  Redirect 301 /proyectos/stand_mh_desarrollado_en_barcelona /proyectos/stand_para_empresa_de_soluciones_tecnologicas_en_barcelona
  Redirect 301 /proyectos/stand_mh_desarrollado_en_barcelona/ /proyectos/stand_para_empresa_de_soluciones_tecnologicas_en_barcelona/
  Redirect 301 /proyectos/stand_mn_desarrollado_en_barcelona /proyectos/stand_para_empresa_de_construccion_de_stands_en_barcelona
  Redirect 301 /proyectos/stand_mn_desarrollado_en_barcelona/ /proyectos/stand_para_empresa_de_construccion_de_stands_en_barcelona/
  Redirect 301 /proyectos/stand_movora_desarrollado_en_bilbao /proyectos/stand_para_empresa_medtech_veterinaria_en_bilbao
  Redirect 301 /proyectos/stand_movora_desarrollado_en_bilbao/ /proyectos/stand_para_empresa_medtech_veterinaria_en_bilbao/
  Redirect 301 /proyectos/stand_mtm_energia_desarrollado_en_malaga /proyectos/stand_para_empresa_de_energia_y_cogeneracion_en_malaga
  Redirect 301 /proyectos/stand_mtm_energia_desarrollado_en_malaga/ /proyectos/stand_para_empresa_de_energia_y_cogeneracion_en_malaga/
  Redirect 301 /proyectos/stand_murzilli_desarrollado_en_bilbao /proyectos/stand_para_consultoria_de_aviacion_y_drones_en_bilbao
  Redirect 301 /proyectos/stand_murzilli_desarrollado_en_bilbao/ /proyectos/stand_para_consultoria_de_aviacion_y_drones_en_bilbao/
  Redirect 301 /proyectos/stand_muti_desarrollado_en_malaga /proyectos/stand_para_empresa_de_motocicletas_y_bicicletas_en_malaga
  Redirect 301 /proyectos/stand_muti_desarrollado_en_malaga/ /proyectos/stand_para_empresa_de_motocicletas_y_bicicletas_en_malaga/
  Redirect 301 /proyectos/stand_nearthlab_desarrollado_en_barcelona /proyectos/stand_para_empresa_de_ia_de_drones_en_barcelona
  Redirect 301 /proyectos/stand_nearthlab_desarrollado_en_barcelona/ /proyectos/stand_para_empresa_de_ia_de_drones_en_barcelona/
  Redirect 301 /proyectos/stand_netgame_desarrollado_en_barcelona /proyectos/stand_para_empresa_de_juegos_de_casino_online_en_barcelona
  Redirect 301 /proyectos/stand_netgame_desarrollado_en_barcelona/ /proyectos/stand_para_empresa_de_juegos_de_casino_online_en_barcelona/
  Redirect 301 /proyectos/stand_nibec_desarrollado_en_madrid /proyectos/stand_para_empresa_de_almacenaje_industrial_en_madrid
  Redirect 301 /proyectos/stand_nibec_desarrollado_en_madrid/ /proyectos/stand_para_empresa_de_almacenaje_industrial_en_madrid/
  Redirect 301 /proyectos/stand_nuproxa_desarrollado_en_madrid /proyectos/stand_para_empresa_de_nutricion_animal_en_madrid
  Redirect 301 /proyectos/stand_nuproxa_desarrollado_en_madrid/ /proyectos/stand_para_empresa_de_nutricion_animal_en_madrid/
  Redirect 301 /proyectos/stand_orpagu_desarrollado_en_madrid /proyectos/stand_para_organizacion_de_pesca_en_madrid
  Redirect 301 /proyectos/stand_orpagu_desarrollado_en_madrid/ /proyectos/stand_para_organizacion_de_pesca_en_madrid/
  Redirect 301 /proyectos/stand_paynau_desarrollado_en_bilbao /proyectos/stand_para_empresa_fintech_en_bilbao
  Redirect 301 /proyectos/stand_paynau_desarrollado_en_bilbao/ /proyectos/stand_para_empresa_fintech_en_bilbao/
  Redirect 301 /proyectos/stand_pivotal_desarrollado_en_bilbao /proyectos/stand_para_empresa_de_marketing_minorista_en_bilbao
  Redirect 301 /proyectos/stand_pivotal_desarrollado_en_bilbao/ /proyectos/stand_para_empresa_de_marketing_minorista_en_bilbao/
  Redirect 301 /proyectos/stand_politejo_desarrollado_en_barcelona /proyectos/stand_para_empresa_de_soluciones_termoplasticas_en_barcelona
  Redirect 301 /proyectos/stand_politejo_desarrollado_en_barcelona/ /proyectos/stand_para_empresa_de_soluciones_termoplasticas_en_barcelona/
  Redirect 301 /proyectos/stand_realturf_desarrollado_en_madrid /proyectos/stand_para_empresa_de_cesped_artificial_en_madrid
  Redirect 301 /proyectos/stand_realturf_desarrollado_en_madrid/ /proyectos/stand_para_empresa_de_cesped_artificial_en_madrid/
  Redirect 301 /proyectos/stand_refco_desarrollado_en_barcelona /proyectos/stand_para_empresa_de_herramientas_de_refrigeracion_en_barcelona
  Redirect 301 /proyectos/stand_refco_desarrollado_en_barcelona/ /proyectos/stand_para_empresa_de_herramientas_de_refrigeracion_en_barcelona/
  Redirect 301 /proyectos/stand_rompal_desarrollado_en_barcelona /proyectos/stand_para_fabricante_de_equipos_electronicos_en_barcelona
  Redirect 301 /proyectos/stand_rompal_desarrollado_en_barcelona/ /proyectos/stand_para_fabricante_de_equipos_electronicos_en_barcelona/
  Redirect 301 /proyectos/stand_sampling_desarrollado_en_barcelona /proyectos/stand_para_empresa_de_sampling_promocional_en_barcelona
  Redirect 301 /proyectos/stand_sampling_desarrollado_en_barcelona/ /proyectos/stand_para_empresa_de_sampling_promocional_en_barcelona/
  Redirect 301 /proyectos/stand_sarafood_desarrollado_en_malaga /proyectos/stand_para_empresa_de_alimentos_en_malaga
  Redirect 301 /proyectos/stand_sarafood_desarrollado_en_malaga/ /proyectos/stand_para_empresa_de_alimentos_en_malaga/
  Redirect 301 /proyectos/stand_scubaworld_desarrollado_en_madrid /proyectos/stand_para_empresa_de_buceo_en_madrid
  Redirect 301 /proyectos/stand_scubaworld_desarrollado_en_madrid/ /proyectos/stand_para_empresa_de_buceo_en_madrid/
  Redirect 301 /proyectos/stand_sinavo_desarrollado_en_madrid /proyectos/stand_para_empresa_de_materiales_sinteticos_en_madrid
  Redirect 301 /proyectos/stand_sinavo_desarrollado_en_madrid/ /proyectos/stand_para_empresa_de_materiales_sinteticos_en_madrid/
  Redirect 301 /proyectos/stand_slovakia_desarrollado_en_malaga /proyectos/stand_para_empresa_de_fabricacion_de_stands_en_malaga
  Redirect 301 /proyectos/stand_slovakia_desarrollado_en_malaga/ /proyectos/stand_para_empresa_de_fabricacion_de_stands_en_malaga/
  Redirect 301 /proyectos/stand_soemar_desarrollado_en_malaga /proyectos/stand_para_fundacion_y_centro_tecnologico_en_malaga
  Redirect 301 /proyectos/stand_soemar_desarrollado_en_malaga/ /proyectos/stand_para_fundacion_y_centro_tecnologico_en_malaga/
  Redirect 301 /proyectos/stand_sommos_desarrollado_en_madrid /proyectos/stand_para_bodega_de_vinos_somontano_en_madrid
  Redirect 301 /proyectos/stand_sommos_desarrollado_en_madrid/ /proyectos/stand_para_bodega_de_vinos_somontano_en_madrid/
  Redirect 301 /proyectos/stand_storz_desarrollado_en_barcelona /proyectos/stand_para_empresa_de_dispositivos_medicos_en_barcelona
  Redirect 301 /proyectos/stand_storz_desarrollado_en_barcelona/ /proyectos/stand_para_empresa_de_dispositivos_medicos_en_barcelona/
  Redirect 301 /proyectos/stand_sublimet_desarrollado_en_bilbao /proyectos/stand_para_empresa_de_maquinaria_de_personalizacion_en_bilbao
  Redirect 301 /proyectos/stand_sublimet_desarrollado_en_bilbao/ /proyectos/stand_para_empresa_de_maquinaria_de_personalizacion_en_bilbao/
  Redirect 301 /proyectos/stand_swisstraffic_desarrollado_en_madrid /proyectos/stand_para_empresa_de_movilidad_inteligente_en_madrid
  Redirect 301 /proyectos/stand_swisstraffic_desarrollado_en_madrid/ /proyectos/stand_para_empresa_de_movilidad_inteligente_en_madrid/
  Redirect 301 /proyectos/stand_tillica_desarrollado_en_malaga /proyectos/stand_para_empresa_de_nanotecnologia_en_malaga
  Redirect 301 /proyectos/stand_tillica_desarrollado_en_malaga/ /proyectos/stand_para_empresa_de_nanotecnologia_en_malaga/
  Redirect 301 /proyectos/stand_tranluz_desarrollado_en_barcelona /proyectos/stand_para_empresa_del_sector_electrico_en_barcelona
  Redirect 301 /proyectos/stand_tranluz_desarrollado_en_barcelona/ /proyectos/stand_para_empresa_del_sector_electrico_en_barcelona/
  Redirect 301 /proyectos/stand_twopoles_desarrollado_en_madrid /proyectos/stand_para_empresa_de_cosmetica_en_madrid
  Redirect 301 /proyectos/stand_twopoles_desarrollado_en_madrid/ /proyectos/stand_para_empresa_de_cosmetica_en_madrid/
  Redirect 301 /proyectos/stand_unique_desarrollado_en_madrid /proyectos/stand_para_empresa_de_componentes_para_ascensores_en_madrid
  Redirect 301 /proyectos/stand_unique_desarrollado_en_madrid/ /proyectos/stand_para_empresa_de_componentes_para_ascensores_en_madrid/
  Redirect 301 /proyectos/stand_uruguay_natural_desarrollado_en_malaga /proyectos/stand_para_organizacion_de_turismo_en_malaga
  Redirect 301 /proyectos/stand_uruguay_natural_desarrollado_en_malaga/ /proyectos/stand_para_organizacion_de_turismo_en_malaga/
  Redirect 301 /proyectos/stand_vegenat_desarrollado_en_malaga /proyectos/stand_para_empresa_de_ingredientes_deshidratados_en_malaga
  Redirect 301 /proyectos/stand_vegenat_desarrollado_en_malaga/ /proyectos/stand_para_empresa_de_ingredientes_deshidratados_en_malaga/
  Redirect 301 /proyectos/stand_vegevital_desarrollado_en_bilbao /proyectos/stand_para_empresa_de_agricultura_en_bilbao
  Redirect 301 /proyectos/stand_vegevital_desarrollado_en_bilbao/ /proyectos/stand_para_empresa_de_agricultura_en_bilbao/
  Redirect 301 /proyectos/stand_weiler_desarrollado_en_madrid /proyectos/stand_para_empresa_de_maquinas_herramienta_en_madrid
  Redirect 301 /proyectos/stand_weiler_desarrollado_en_madrid/ /proyectos/stand_para_empresa_de_maquinas_herramienta_en_madrid/
</IfModule>
